<ul class="p-4 space-y-2">
  @for (todo of todos; track todo.id) {
    <li class="flex items-center gap-2 p-2 border rounded hover:bg-gray-50">
      <input
        type="checkbox"
        [checked]="todo.done"
        (change)="onToggleTodo(todo)"
        class="w-4 h-4 text-blue-500"
      />
      <span [class.line-through]="todo.done" [class.text-gray-500]="todo.done">
        {{ todo.title }}
      </span>
      <button
        (click)="onDeleteTodo(todo.id)"
        class="ml-auto text-red-500 hover:text-red-700"
      >
        Delete
      </button>
    </li>
  } @empty {
    <li class="text-center text-gray-500 py-4">No todos found</li>
  }
</ul>
